{% extends "base.html" %}

{% block title_block %}
    Client Form
{% endblock %}

{% block body_block %}

{% if client_exist %}
    <p>Client Exist</p>
{% endif %}

<section id="comment-form">
    <h2>Client</h2>
    <form method="POST">
    {% csrf_token %}
        {% for field in form %}
        <div class="form-control" {% if form_field.errors %} invalid {% endif %}>
        {{field.label}}
        {{field}}
        {{field.errors}}
            </div>
        {% endfor %}

        <button type="submit">Save</button>
    </form>
</section>

{% endblock %}