{% extends "base.html" %}

{% block title_block %}
    Device Form
{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
{% if device_exist %}
    <p>Device Already exists!!</p>
{% endif %}

<section id="comment-form">
    <h2>Device</h2>
    <form method="POST">
    {% csrf_token %}
        {% for field in form %}
        <div class="form-control" {% if form_field.errors %} invalid {% endif %}>
        {{field.label}}
        {{field}}
        {{field.errors}}
            </div>
        {% endfor %}

        <button type="submit">Save</button>
    </form>
</section>
{% endif %}
{% endblock %}